.bubble-stats {
  text-align: center;
  min-width: 25rem;
  margin-left: auto; }
  .bubble-stats .bubble-stat {
    font-size: 3rem;
    margin: 0 auto; }
    .bubble-stats .bubble-stat:first-child {
      margin-top: 7rem; }

.talkative .chart-container .chart {
  margin-left: 0; }
